{% extends "base.html" %}

{% block title %}New Blog Post{% endblock  %}

{% block content %}
{% for blog in object_list  %}
<div class="card">
  <div class="card-header">
    <span class="font-weight-bold">{{ blog.title }}</span> &middot;
    <span class="text-muted">{{ blog.author }}  | {{ blog.date }}</span>
  </div>
  <div class="card-body">
    {{ blog.body }}
  </div>
  <div class="card-footer text-center text-muted">
    <a href="{% url 'blog-edit' blog.pk %}">Edit</a> |
    <a href="{% url 'blog-delete' blog.pk %}">Delete</a>
  </div>
  <div class="card-footer">
    {% for comment in blog.comments.all  %}
      <p>
        <span class="font-weight-bold">{{ comment.author }} &middot;</span>
        {{ comment }}
      </p>
  {% endfor %}
</div>
<br />
{% endfor %}
{% endblock content %}
