{% extends "base.html" %}

{% block content %}
<div class="blog-entry">
  <h2>{{ object.title }}</h2>
  <p>by {{ object.author }}  | {{ object.date }}</p>
  <p>{{ object.body }}</p>
</div>
<p><a href="{% url 'blog-edit' blog.pk %}">Edit</a>  | <a href="{% url 'blog-delete' blog.pk %}">
Delete</a></p>
<p>Back to <a href="{% url 'blog-list' %}">All Blogs</a>.</p>
{% endblock content %}
